/* nav{
    margin-top: 50px;
    margin-left: 10px;
    display: flex;
    justify-content: space-around;
    text-decoration: dotted 2px;
} */

.textstyle{
    color: rgb(1, 5, 5);
    font-size: xx-large;
    font-weight: 600;
    /* background-color: aqua; */
    

}